/* author: https://codepen.io/ashraf_morningstar
Bryan Jones */

 body {
    background: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

/* These are personal recreations of existing projects, developed by Ashraf Morningstar for learning and skill development. Original project concepts remain the intellectual property of their respective creators.
https://github.com/AshrafMorningstar */